/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jul 14, 2024, 8:11:19 PM
    Author     : Trần Tấn Lợi-CE171879
*/


body {
margin: 0;
line-height: normal;
}